<p id="notice"><%= notice %></p>

<h1>Listing Orderdetails</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Comment</th>
      <th>User</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orderdetails.each do |orderdetail| %>
      <tr>
        <td><%= orderdetail.item %></td>
        <td><%= orderdetail.price %></td>
        <td><%= orderdetail.amount %></td>
        <td><%= orderdetail.comment %></td>
        <td><%= orderdetail.user %></td>
        <td><%= orderdetail.order %></td>
        <td><%= link_to 'Show', orderdetail %></td>
        <td><%= link_to 'Edit', edit_orderdetail_path(orderdetail) %></td>
        <td><%= link_to 'Destroy', orderdetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orderdetail', new_orderdetail_path %>
