<p id="notice"><%= notice %></p>

<p>
  <strong>Join:</strong>
  <%= @invitation.join %>
</p>

<p>
  <strong>User:</strong>
  <%= @invitation.user %>
</p>

<p>
  <strong>Order:</strong>
  <%= @invitation.order %>
</p>

<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
